{% extends "base.html" %}

{% block title %}
Create Recipe
{% endblock title %}


{% block content %}
  {% comment %} check for update or not {% endcomment %}
  {% if message %}
    {{message}}
  {% else %}
    <div style="margin-top:30px">
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% if formset %}
               <h3>Ingredients</h3>
               {{formset.as_p}}
            {% endif %}
            <button style="margin-top:10px" type="submit">Save</button>
        </form>
    </div>
  {% endif %}
{% endblock content %}