{% extends "base.html" %}


<{% block title %}
 Create Article
{% endblock title %}



{% block content %}
   <div style="margin-top:30px">
     {% if not created %}
    
    
     <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="title">
        </div>
        <br>
        <div>
            <textarea name="content" placeholder="content"></textarea>
        </div>
        <br>
        <div>
            <input type="submit" value="submit">
        </div>
     </form>

     {% else %}
     <p>New Article has been created.</p>
     <a href="{% url 'articles:detail' object.id %}">You can go here to read the article.</a>
    {% endif %}
   </div>
{% endblock content %}