{% extends "base.html" %}


<{% block title %}
 Create Article
{% endblock title %}



{% block content %}
   <div style="margin-top:30px">
     {% if not created %}
    
    
     <form action="{% url 'articles:create' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value="submit">
        </div>
     </form>

     {% else %}
     <p>New Article has been created.</p>
     <p>
        <a href="{% url 'articles:detail' object.slug %}">You can go here to read the article.</a>
        or
        <a href="{% url 'articles:list_article'%}">read all the articles here.</a>
     </p>
    {% endif %}
   </div>
{% endblock content %}